KPContactPicker.xcodeproj/xcuserdata
KPContactPicker.xcodeproj/project.xcworkspace
KPContactPicker.xcodeproj/project.xcworkspace/xcuserdata
KPContactPicker.xcodeproj/project.xcworkspace/contents.xcworkspacedata
**.DS_Store
.DS_Store